

.performer_list
{
	list-style: none;
}

.performer_list li
{
	margin-bottom: 12px;
}

/* Display of the now playing items */
.now_playing_name
{
	font-weight: bold;
}

.footer_tagline
{
	font-size: small;
	text-align: center;
}