#main_nav
{
	margin-bottom: 12px;
}

#now_playing h2
{
	margin-bottom: 2px;
}

#current_time
{
	font-size: small;
	color: #333;
	margin-top: 0;
	margin-bottom: 0;
	
}

.performer_list
{
	list-style: none;
	padding-left: 0;
}

.performer_list li
{
	margin-bottom: 12px;
}

/* Display of the now playing items */
.now_playing_name
{
	font-weight: bold;
}

.footer_tagline
{
	font-size: small;
	text-align: center;
}

/* Share icons */
#share_links span
{
	margin: 8px;
}

.copyright a:visited
{
	
}